# Python
__pycache__/
*.pyc
.venv/
venv/

# Outputs
out/
*.mp4
*.mov
*.mkv

# Media assets (opcional – recomendo ignorar)
audio/
clips/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
voices/myvoice.ogg
voices/voice_en.mp3
voices/voice_es.mp3
voices/voice_google.wav
voices/voice_pt.mp3
voices/male_neutral.mp3
video_pack/pixabay_hotel/hotel_pixabay_24462.mp4.part
video_pack/pixabay_hotel/hotel_pixabay_46479.mp4.part
video_pack/pixabay_luxury_car/luxury_car_pixabay_24388.mp4.part
video_pack/pixabay_monochrome_texture/monochrome_texture_pixabay_286375.mp4.part
video_pack/pixabay_morning_routine/morning_routine_pixabay_169545.mp4.part
*.png
seq_imgs/2.jpg
